/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16/02/2017, 17:18:28
    Author     : MarceloMacedo
*/

@font-face {
    font-family: ArialNarrow;
    src: url('fonts/arial/ArialNarrow.ttf');
}

@font-face {
    font-family: OswaldBold;
    src: url('fonts/oswald/Oswald-Bold.ttf');
}

@font-face {
    font-family: MyriadRegular;
    src: url('fonts/myriad/MyriadPro-Regular.otf');
}

@font-face {
    font-family: OxygenRegular;
    src: url('fonts/oxygen/Oxygen-Regular.ttf');
}