<div class="fly_Area">
    <div class="fly_header">
        <div class="noSpacing col-md-6">
            <a>
                <div class="flyMenu Selected">
                    <span>LOGIN</span>
                </div>
            </a>
        </div>
        <div class="noSpacing col-md-6">
            <a>
                <div class="flyMenu UnSelected">
                    <span>CRIAR CONTA</span>
                </div>
            </a>
        </div>
    </div>
    <div class="fly_Body">
        <div id="flyOut_LoginArea" class="fly_AreaInput">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Senha">

            <div class="checkbox">
                <label>
                    <input type="checkbox"> Lembrar ?
                </label>
            </div>

            <button>LOGIN</button>

            <a><span>Esqueceu sua senha?</span></a>
        </div>
    </div>
</div>