<div class="fly_Area">
    <div class="fly_header">
        <div class="noSpacing col-md-6">
            <a onclick="showTab('tabLogin', 'tabCreateAccount', 'areaLogin', 'areaCreateAccount')">
                <div class="flyMenu Selected" id="tabLogin">
                    <span>LOGIN</span>
                </div>
            </a>
        </div>
        <div class="noSpacing col-md-6">
            <a onclick="showTab('tabCreateAccount', 'tabLogin', 'areaCreateAccount', 'areaLogin')">
                <div class="flyMenu UnSelected" id="tabCreateAccount">
                    <span>CRIAR CONTA</span>
                </div>
            </a>
        </div>
    </div>
    <div class="fly_Body" id="areaLogin" >
        <div id="flyOut_LoginArea" class="fly_AreaInput">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
            <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Senha">

            <div class="checkbox">
                <label>
                    <input type="checkbox"> Lembrar ?
                </label>
            </div>

            <button>LOGIN</button>

            <a><span>Esqueceu sua senha?</span></a>
        </div>
    </div>

    <div class="fly_Body" id="areaCreateAccount" style="display: none;">
        <div id="flyOut_LoginArea" class="fly_AreaInput">
            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Nome">
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="E-mail">
            <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Senha">
            <input type="password" class="form-control" id="exampleInputEmail1" placeholder="Confirme Senha">

            <div class="checkbox">
                <label>
                    <input type="checkbox"> Receber novidades por e-mail
                </label>
            </div>

            <div class="row">
                <div class="col-md-8">
                    <button class="buttonFb"> ENTRAR COM FACEBOOK </button>
                </div>
                <div class="col-md-4">
                    <button> Criar Conta </button>
                </div>
            </div>
        </div>
    </div>
</div>