<div class="hdr_Info">
    <div class="hdr_InfoLeft col-md-6">
        <span>OFFICIAL PRODUCTS LICENSED</span>
    </div>
    <div class="hdr_InfoRight col-md-6">
        <span>@Bdpplayer All Rights Reserved</span>
    </div>
</div>

<div class="hdr_AreaLogo">
    <div class="noSpacing col-md-3">
        <div class="noSpacing col-md-8">
            <a onclick="openMenu()">
                <div class="hdr_AreaButton">
                    <img src="img/btnLogin.png" alt=""/>
                    <span>MENU</span>
                </div>            
            </a>
            
            <div data-bind="compose: menu"></div>
            
            <div data-bind="compose: marcas"></div>
            
        </div>
        <div class="col-md-4">
            <div id="areaMenu">
                <a onclick="openSearch()">
                    <div class="hdr_AreaButton">                
                        <img id="imgSearch" src="img/btnSearch.png" alt=""/>
                        <input type="text" placeholder="BUSCAR"/>
                    </div>            
                </a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <img class="img-responsive" src="img/logo.png" alt=""/>
    </div>
    <div class="col-md-3">
        <div class="AreaBotaoLogin col-md-6">
            <a onclick="showLogin()">
                <div class="hdr_AreaButton">
                    <img src="img/btnLogin.png" alt=""/>
                    <span>LOGIN</span>
                </div>            
            </a>
        </div>
        <div class="col-md-6">
            <a>
                <div class="hdr_AreaButton">                
                    <img src="img/btnCart.png" alt=""/>
                    <span>CARRINHO</span>
                </div>            
            </a>
        </div>
        <div data-bind="compose: flyoutCart"></div>
    </div>
</div>