<div class="rdp_Area" style="margin-top: 40px">  
    <div class="rdp_Container">
        <div class="row">
            <div class="rdp_ConteudoPrimary">
                <div class="noSpacing col-md-12">
                    <div class="col-md-5">
                        <div class="noSpacing col-md-5">
                            <span>FALE COM A GENTE</span>
                            <h4>14 3602 0000</h4>
                            <h5>SEG A SEX DAS 8H30 ÁS 16H30</h5>
                            <h5>sac@bdplayer.com.br</h5>
                        </div>
                        <div class="noSpacing col-md-5">
                            <span>CONECTE-SE</span>
                            <h5>BDP PLAYER NAS REDES SOCIAIS</h5>
                            <div class="rdp_AreaImagens">
                                <div class="noSpacing col-md-3">
                                    <img class="img-responsive" src="img/icones/iconFacebook.png" alt=""/>
                                </div>
                                <div class="noSpacing col-md-3">
                                    <img class="img-responsive" src="img/icones/iconInstagram.png" alt=""/>
                                </div>
                                <div class="noSpacing col-md-3">
                                    <img class="img-responsive" src="img/icones/iconTwitter.png" alt=""/>
                                </div>
                                <div class="noSpacing col-md-3">
                                    <img class="img-responsive"  src="img/icones/iconPininterest.png" alt=""/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2"></div>
                    </div>
                    <div class="noSpacing col-md-7">
                        <div class="noSpacing col-md-2">
                            <span>DUVIDAS</span>
                            <h5>ENTREGAS</h5>
                            <h5>PAGAMENTOS</h5>
                            <h5>TROCAS E DEVOLUÇÕES</h5>
                            <h5>SEGURANÇA</h5>
                        </div>
                        <div class="noSpacing col-md-2">
                            <span>INSTITUCIONAL</span>
                            <h5>A MARCA</h5>
                            <h5>CADASTRE-SE</h5>
                            <h5>PEDIDOS</h5>
                            <h5>CONTATO</h5>
                        </div>
                        <div class="noSpacing col-md-3">
                            <span>FORMAS PAGAMENTO</span>
                            <img src="img/cards.jpg" alt=""/>
                        </div>
                        <div class="noSpacing col-md-5">
                            <span>NEWSLETTER</span>
                            <h5>CADASTRE-SE PARA RECEBER AS NOVIDADES</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="rdp_Faixa row">
            <div class="col-md-4">
                <div class="rdp_Conteudo">
                    <img src="img/logoRodape.png" alt=""/>
                    <div class="rdp_ConteudoTexto">
                        <h5>OFFICIAL PRODUCTS LICENSED</h5>
                        <h6>© Bdplayer All Rights Reserved</h6>                        
                    </div>
                </div>
            </div>
            <div class="noSpacing col-md-8">
                <div class="rdp_Conteudo">
                    <div class="noSpacing col-md-10">
                        <div class="rdp_ConteudoTextoB">
                            <h6>Fan Store Entretenimento S.A. - BLIZZARD STORE - Av. Predro Ometto, 1570 - Vila Narcisa - 7340-000 - Barra Bonita (SP)</h6>
                            <h6>CNPJ: 01.424.397/0001-01 - Inscrição Estadual: 202.032.630.110</h6>
                        </div>
                    </div>
                    <div class="col-md-2" >
                        <img class="img-responsive" src="img/bandup.png" alt="" style="float: right" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
