<div>
    <div id="overlay-back"></div> 
    
    
    <div data-bind="compose: header"></div>
    
    <div id="bannerHome" class="noSpacing col-md-12">
        <img  style="z-index: 1" class="img-responsive" src="img/banners/banner1.png" alt=""/>
    </div>
    
    <div class="noSpacing col-md-6">
        <img class="img-responsive" src="img/banners/banner2.png" alt="" style="min-width: 100%;"/>
    </div>
    
    <div class="noSpacing col-md-6">
        <div data-bind="compose: bnRotate"></div>
    </div>

    <div class="noSpacing col-md-4">
        <img class="img-responsive" src="img/banners/banner4.png" alt=""/>
    </div>
    
    <div class="noSpacing col-md-8">
        <img class="img-responsive" src="img/banners/banner5.png" alt=""/>
    </div>
    

</div>