#mrc_Marcas {
    display: none;
}

.mrc_Container {
    position: absolute;
    z-index: 10;
    margin-top: 4px;
    width: 450px;
    padding-bottom: 2px;
}

@-webkit-keyframes spaceboots {
    0% { -webkit-transform: translate(2px, 1px) rotate(0deg); }
    10% { -webkit-transform: translate(-1px, -2px) rotate(-1deg); }
    20% { -webkit-transform: translate(-3px, 0px) rotate(1deg); }
    30% { -webkit-transform: translate(0px, 2px) rotate(0deg); }
    40% { -webkit-transform: translate(1px, -1px) rotate(1deg); }
    50% { -webkit-transform: translate(-1px, 2px) rotate(-1deg); }
    60% { -webkit-transform: translate(-3px, 1px) rotate(0deg); }
    70% { -webkit-transform: translate(2px, 1px) rotate(-1deg); }
    80% { -webkit-transform: translate(-1px, -1px) rotate(1deg); }
    90% { -webkit-transform: translate(2px, 2px) rotate(0deg); }
    100% { -webkit-transform: translate(1px, -2px) rotate(-1deg); }
}
.mrc_Area:hover,
.mrc_Area:focus {
    -webkit-animation-name: spaceboots;
    -webkit-animation-duration: 0.8s;
    -webkit-transform-origin:50% 50%;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
}


.mrc_AreaImage {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.mrc_Area {
    position: relative;
    background: #fff02a;
    border-bottom: 1px solid #8a7f18;
    border-right: 1px solid #8a7f18;
    padding: 5px;    
    height: 100%;
}

.mrc_Area img {
    display: table-row-group;
    vertical-align: middle;
    margin: 0px auto;
    top: 50%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
}