/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/02/2017, 08:32:26
    Author     : MarceloMacedo
*/

@media (min-width: 1400px) {
    .mnu_AreaCategoria {
        padding: 8px 0px;
    }

    .mnu_Links span {
        margin-left: 5px;
        line-height: 50px;
    }
}

@media (max-width: 1400px) {
    .mnu_AreaCategoria {
        padding: 2px 0px;
    }

    .mnu_Links span {
        margin-left: 5px;
        line-height: 45px;
        font-size: 11pt;
    }
}

.mnu_Area {
    background-color: #070003;
    position: absolute;
    z-index: 999;
    left: 0;
    width: 100%;  
    top: 0px;
    height: 100%;
    display: none;
    border-right: 1px solid #a49919;
}

.mnu_Links {
    padding-left: 0px;
    list-style: none;
    font-family: MyriadRegular;
    background-color: #070003;
}



.mnu_Links a {
    color: #e9da26;
    font-size: 12pt;
}



.mnu_AreaLinks {
    padding: 30px 0px;
    min-width: 100px;
}

.mnu_Link {
    display: none; 
    //margin-left: 20%;
}

.mnu_AreaLinks img {
    margin-top: 37px;
}



.mnu_AreaCategoria .mnu_Link span {
    color: #fff;
}

.mnu_GroupLink {
    width: 100%;
    overflow: hidden;
}

.mnu_AreaCategoriaSelected {
    background: #fff02a;
    color: #1d1607;
    padding: 10px 0px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff02a; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}

.categoriaSlide {
    animation-duration: 0.5s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
        margin-left: 0%;
        width: 0%; 
    }

    to {
        margin-left: 0px;
        width: 100%;
    }
}

.flag {
    position: relative;
    display: inline-block;
    margin: 2em 3em @flagSize;
    width: @flagSize;
    height: @flagSize;
    border: 1px solid #bbb;
    border-left-color: white;
    box-sizing: border-box;
    box-shadow: 2px 5px 14px 0px rgba(0,0,0,0.4);
    -webkit-backface-visibility: hidden;
    -webkit-perspective: 1000;
    -webkit-transform-style: preserve3d;
    -webkit-transform-origin: 0 250px;
    -webkit-transform: translate3d(0, 0, 0) rotateZ(5deg) rotateY(-22deg);

    -webkit-animation-name: wave;
    -webkit-animation-duration: 8s;
    -webkit-animation-timing-function: cubic-bezier(.16,.14,.82,.73);
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    &:nth-child(odd) {
        -webkit-animation-delay: 1s;
    }

    &:before {
        position: absolute;
        content: "";
        height: @flagSize*2;
        left: -5px;
        top: -3px;
        width: 6px;
        border-right: 1px solid white;
        border-radius: 3px;
        background-color: #444;
        box-shadow: -3px 3px 8px 0px rgba(0,0,0,0.4);
    }

    &.rect {
        width: @flagSize*1.4;

    }  
}

.flag-pattern {
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;  
    -webkit-box-reflect: below 60px -webkit-gradient(linear,left top,left bottom,from(transparent),color-stop(70%,transparent),to(rgba(255,255,255,0.05)));

    &.ch {
        border: 15px solid @colorRed;
        background-color: @colorRed;
        background-image: 
            linear-gradient(90deg, white 50%, transparent 50%),
            linear-gradient(white 50%, transparent 50%);
        background-size: @flagSize/2 @flagSize/2;
        background-position: 100% 100%;
    }

    &.fr {
        background-color: @colorRed;
        background-image: 
            linear-gradient( 90deg, @colorBlue 33.3%, transparent 33.3%),
            linear-gradient(90deg, white 66.6%, transparent 66.6%);
    }

    &.us {
        background-color: @colorRed;
        background-image: linear-gradient(@colorRed 50%, white 50%);
        background-size: 100% 15.38%;
        background-repeat: repeat-y;


        &:before, &:after {
            position: absolute;
            max-width: 52%;
            overflow: hidden;
            word-break: break-word;
            text-align: center;
            font-size: 7px;
            color: white;
            line-height: 1.9em;
            letter-spacing: 1em;
        }
        &:before {
            content: "\2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 ";
            background-color: @colorBlueUs;
            border-left: 3px solid @colorBlueUs;
        }

        &:after {
            content: "\2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 \2605 ";
            box-sizing: border-box;
            margin-left: 3px;
            padding: .9em 1em;
        }
    }

    &.pl {
        background-color: @colorRed;
        background-image: 
            linear-gradient( white 50%, transparent 50%);
    }

    &.de {
        background-color: gold;
        background-image: 
            linear-gradient( black 33.3%, transparent 33.3%),
            linear-gradient(red 66.6%, transparent 66.6%);
    }

    &.ru {
        background-color: red;
        background-image: 
            linear-gradient( blue 33.3%, transparent 33.3%),
            linear-gradient(white 66.6%, transparent 66.6%);
    }

    &.jp {
        background-color: white;
        background-image: 
            radial-gradient(circle, @colorRed 40%, transparent 0);

    }
}

.flag-wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background-image:
        -webkit-gradient(
        linear,
        0 -25%,
        100% top,
        color-stop(0%,rgba(255,255,255,0)),
        color-stop(20%,rgba(255,255,255,0)),
        color-stop(30%,rgba(0,0,0,.04)),
        color-stop(40%,rgba(255,255,255,.2)),
        color-stop(60%,rgba(255,255,255,0)),
        color-stop(65%,rgba(255,255,255,.2)),
        color-stop(80%,rgba(0,0,0,.05)),
        color-stop(100%,rgba(255,255,255,0)));

    background-size: 200%;

    -webkit-animation-name: flutter;
    -webkit-animation-duration: 8s;
    -webkit-animation-timing-function: cubic-bezier(.16,.14,.82,.73);
    -webkit-animation-iteration-count: infinite;
}


@-webkit-keyframes flutter {

    0% {
        background-position: -200% 0px;
    }

    30% {
        background-position: -60% 5px;
    }

    70% {
        background-position: 70% -5px;
    }

    100% {
        background-position: 200% 0px;
    }
}

@-webkit-keyframes wave {

    0% {
        box-shadow: 4px 5px 5px 0 rgba(0,0,0,0.1);
        -webkit-transform: translate3d(0, 0, 0) rotateZ(5deg) rotateY(22deg);

    }

    20% {
        box-shadow: 4px 5px 15px 0 rgba(0,0,0,0.1);
        -webkit-transform: translate3d(0, 0, 0) rotateZ(5deg) rotateY(0deg);
    }

    40% {
        box-shadow: 4px 5px 20px 0 rgba(0,0,0,0.4);
        -webkit-transform: translate3d(0, 0, 0) rotateZ(6deg) rotateY(-22deg);
    }

    60% {
        box-shadow: 4px 5px 5px 0 rgba(0,0,0,0.1);
        -webkit-transform: translate3d(0, 0, 0) rotateZ(5deg) rotateY(0deg);
    }

    80% {
        box-shadow: 4px 5px 5px 0 rgba(0,0,0,0.3);
        -webkit-transform: translate3d(0, 0, 0) rotateZ(5deg) rotateY(16deg);
    }

    100% {
        box-shadow: 4px 5px 5px 0 rgba(0,0,0,0.1);
        -webkit-transform: translate3d(0, 0, 0) rotateZ(5deg) rotateY(22deg);
    }
}

