/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17/02/2017, 08:32:26
    Author     : MarceloMacedo
*/

@media (min-width: 1400px) {
    .mnu_AreaCategoria {
        padding: 8px 0px;
    }

    .mnu_Links span {
        margin-left: 5px;
        line-height: 50px;
    }
}

@media (max-width: 1400px) {
    .mnu_AreaCategoria {
        padding: 2px 0px;
    }

    .mnu_Links span {
        margin-left: 5px;
        line-height: 45px;
        font-size: 11pt;
    }
}

.mnu_Area {
    background-color: #070003;
    position: absolute;
    z-index: 99;
    left: 0;
    width: 100%;  
    top: 0px;
    height: 100%;
    display: none;
    border-right: 1px solid #a49919;
}

.mnu_Links {
    padding-left: 0px;
    list-style: none;
    font-family: MyriadRegular;
    background-color: #070003;
}



.mnu_Links a {
    color: #e9da26;
    font-size: 12pt;
}



.mnu_AreaLinks {
    padding: 30px 0px;
    min-width: 100px;
}

.mnu_Link {
    margin-left: 20%;
}

.mnu_AreaLinks img {
    margin-top: 37px;
}



.mnu_AreaCategoria .mnu_Link span {
    color: #fff;
}

.mnu_GroupLink {
    width: 100%;
    overflow: hidden;
}

.mnu_AreaCategoriaSelected {
    background: #fff02a;
    color: #1d1607;
    padding: 10px 0px;
}

/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #fff02a; 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255,0,0,0.4); 
}